<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Food Trucks</title>
        <link rel="stylesheet" href="view-foodtrucks.css">
    </head>
    <body>
        <%- include('components/topNav') %>
        <main>
            <h2>Food Trucks</h2>

            <div id="truckTableContainer">
                <table id="truck-table">
                    <thead>
                        <tr>
                            <th>Food Truck</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody id="truckTBody">
                    <% truckData.forEach(truck => { %>
                        <tr>
                            <td><a href="/truck/<%= truck.truckid %>/page"> <%= truck.truckname %></a> </td>
                            <td><%= truck.address %></td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </main>
        <script src="view-foodtrucks.js"></script>
    </body>
</html>
